<h2>Page lists</h2>
Page lists are objects of the <code>ToolScriptResult</code> class.
They should never be created "directly" via <code>new</code>, but always by functions
of existing page lists, or via the <a href="ts_object">ts object</a>.

<h2>Variables</h2>
This is an (incomplete) list of variables of the <code>ToolScriptResult</code> class.

<h3>pages</h3>
An <code>array</code> of page objects. Each page object contains, at the very least, the
member variables <code>page_title</code> and <code>page_namespace</code>.

<h3>language, project</h3>
These two variables define the Wikimedia site. <code>language</code> is "" (blank string) for Wikidata.

<h2>Generic functions</h2>
This is an (incomplete) list of functions (methods) of the <code>ToolScriptResult</code> class.
In the examples, an object of that class names <code>list</code> will be used.

<h3>addPage</h3>
<pre>list.addPage ( "title" <i>[,namespace_number]</i> )</pre>
Adds a new page to the list. You can either supply just the page title, in which case
automatic namespace detection/extraction is run, or supply a namespace number (e.g. 0
for the main/article namespace), in which case the title is kept as-is. Returns
page list object for chaining.

<h3>show</h3>
<pre>list.show()</pre>
Shows the (paginated) list of pages in the list.

<h3>filter</h3>
<pre>new_list = list.filter ( {<i>filter parameters</i>} , keep )</pre>
<p>Checks each page in the list for one or multiple filter parameters. If a page matches all filter parameters,
it is either added to a new list (<code>keep=true</code>) or not (<code>keep=false</code>).
The new list is returned; the original list remains unchanged.</p>

<p>Filters include:</p>
<ul>
<li><code>inList:list2</code> Filter matches is the page is also present in the page list <code>list2</code>.
<p><span class="label label-warning">Attention</span> <code>list</code> and <code>list2</code> <b>must</b> have the same <code>language</code> and <code>project</code> values.</p>
<p>Pages in list A and B: <code>result = A.filter ( { inList:B } , true )</code></p>
<p>Pages in list A, but not B: <code>result = A.filter ( { inList:B } , false )</code></p>
</li>
</ul>

<h3>filterKeep / filterRemove</h3>
Convenience wrappers around <code>filter</code>, setting <code>keep</code> to <code>true</code> or <code>false</code>, respectively.

<h3>join</h3>
<pre>new_list = list.join ( list2 )</pre>
Creates a new page list by concatenating <code>list</code> and <code>list2</code>.
For pages in both lists, only the page from <code>list</code> will be kept.
Both original lists will remain unchanged.
<p><span class="label label-warning">Attention</span> <code>list</code> and <code>list2</code> <b>must</b> have the same <code>language</code> and <code>project</code> values.</p>



<h2>Wikidata-related</h2>

<h3>getWikidataItems</h3>
<pre>new_list = list.getWikidataItems()</pre>
For a list of non-Wikidata pages, get the list of corresponding Wikidata items.
Pages with no associated Wikidata item will be skipped.

<h3>createWikidataItems</h3>
<pre>new_list = list.createWikidataItems()</pre>
<p>For a list of pages, this function will create new items on Wikidata.
The page title will be used as the item label for the language of the list.
The function returns a page list of created Wikidata items.
</p>
<p><span class="label label-info">Note</span> No item will be created for pages that are already associated with another Wikidata item.</p>
<p><span class="label label-info">Note</span> No item will be created for pages that do not exist.</p>
<p><span class="label label-warning">Attention</span> This function requires the user to be logged into <a href='/widar'>WiDaR</a>.</p>

<h3>addStatementItemlink</h3>
<pre>wdlist = list.addStatementItemlink ( "property" , "item" )</pre>
<p>For a list of Wikidata items, this functions adds a statement with a property referring to another item.
The property and item are given either as numbers or in the form "Pxxx"/"Qxxx".
The function returns the original, unchanged list (for chaining of functions).</p>
<p><span class="label label-info">Note</span> No statement will be created if one with the property/item combination already exists.</p>
<p><span class="label label-warning">Attention</span> This function requires the user to be logged into <a href='/widar'>WiDaR</a>.</p>

<h3>getItemsWithoutSitelink</h3>
<pre>new_list = list.getItemsWithoutSitelink ( site )</pre>
For a list of Wikidata items, returns a new list containing only the items that do <i>not</i> have
a "language link" to the specified site.
<p><span class="label label-info">Note</span> This will only work for page lists on Wikidata.</p>

<h3>getSitelinks</h3>
<pre>new_list = list.getSitelinks ( site )</pre>
For a list of Wikidata items, returns a new list containing pages on the specified <code>site</code>,
taken from the items in the original list. Items without "language links" to the specified site
will be skipped.
<p><span class="label label-info">Note</span> This will only work for page lists on Wikidata.</p>

<h3>loadWikidataInfo</h3>
<pre>list.loadWikidataInfo</pre>
Loads the JSON Wikidata data object for each item in the list. The page objects in the <code>pages</code> variable
will have an additional <code>wd</code> key/value pair. Returns list object for chaining
<p><span class="label label-info">Note</span> This will only work for page lists on Wikidata.</p>

<h3>hasProperty</h3>
<pre>new_list = list.hasProperty ( "property" , keep )</pre>
Returns a sublist of items that either have (<code>keep=true</code>) or don't have (<code>keep=false</code>)
statements(s) for a specific property (irrespective of the value(s)).
<p><span class="label label-info">Note</span> This will only work for page lists on Wikidata.</p>


<h2>Internal functions</h2>
These functions are mostly used internally, but may be of interest to some.

<h3>splitNamespace</h3>
<pre>page = list.splitNamespace ( "title" )</pre>
Returns a page object, with the namespace prefix removed from the title and <code>page_namespace</code> set accordingly, if applicable.
For adding page objects, use <code>addPage</code>.

<h3>hasPage</h3>
<pre>boolean = list.hasPage ( {<i>page object</i>} )</pre>
Checks if a page object is present in the pages list.

<h3>getServer</h3>
<pre>server = list.getServer()</pre>
Returns the Wikimedia server name, based on language and project of the list.

<h3>getWikidataSite</h3>
<pre>site = list.getWikidataSite()</pre>
Returns the Wikidata site ID for the Wikimedia site of the list, based on language and project.

<h3>initFromWikidataSite</h3>
<pre>list.initFromWikidataSite ( site )</pre>
Sets the language and project variables for a list, based on the Wikidata site string.
The opposite of the <code>getWikidataSite</code> function above.

<h3>getFullTitle</h3>
<pre>title = list.getFullTitle ( page_id )</pre>
Returns the (namespace-prefixed) title for the page at position <code>page_id</code> in the pages array.

<h3>getURL</h3>
<pre>url = list.getURL ( page_id )</pre>
Returns the URL for the page at position <code>page_id</code> in the pages array.
